:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#grid {
  display: grid;
  grid-template-columns: repeat(10, 1rem);
  grid-template-rows: repeat(20, 1rem);
  gap: 2px;
}

#grid > .cell {
  background-color: #333;
}

#grid > .cell.occupied.red {
  background-color: red;
}
#grid > .cell.occupied.blue {
  background-color: blue;
}
#grid > .cell.occupied.green {
  background-color: green;
}
#grid > .cell.occupied.yellow {
  background-color: yellow;
}
#grid > .cell.occupied.purple {
  background-color: purple;
}
#grid > .cell.occupied.orange {
  background-color: orange;
}
#grid > .cell.occupied.white {
  background-color: white;
}
